*{
    margin: 0;
    padding: 0;

}
body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}
.cabecalho_pagina{
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}
.titulo{
    color: #fff;
    font-size: 2.0em;
}
.titulo b{
    color: #4e4e4e;
}
.menu{
    padding: 10px;
}
.menu a:link, .menu a:visited{
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
}
.menu a:hover{
    color: #f7b600;
    background: #fff;
}
.conteudo{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}
.area-postagens{
    width: 660px;
    float: left;
    padding: 10px;
}
.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;

}
.lateral{
    width: 240px;
    float: right;
    background-color: aqua;
}
.rodape{
    background-color: #ccc;
    clear: both;
    text-align: center;
    padding: 15px;

}
/** Formatações gerais **/
h2{
    color: #f7b600
}
span{
    display: block;
    font-size: 0.8em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
a{
    text-decoration: none;
}
a:link, a:visited{
    color: #f7b600;
}
a:hover{
    text-decoration: underline;
}